extends layout

block content
	div.container
		div.jumbotron
			h1 나의 메모
			p 당신의 일정을 꼼꼼히 관리해 드리겠어.
			a.btn.btn-primary.btn-lg 작업입력
			<!-- 작업 추가-->
			div.form-group
				form(action='/createTask', method='post')
					input(type='text' name='contents' class='form-control')
					button(type='submit' class='btn btn-success')작업추가
		table.table
			tr
				td
					h2 할일
					ul.list-group
						each val in todoTasks
							li.list-group-item= val
							div.input-group-btn
								form(action='/updateTask', method='post')
									input(type='hidden' name='status' value='PROGRESS')
									button(type='submit' class='btn btn-info' name='contents' value=val)<strong>></strong>															
				td
					h2 진행 중인 일
					ul.list-group
						each val in progressTasks
							li.list-group-item= val
				td
					h2 끝난 일
					ul.list-group
						each val in doneTasks
							li.list-group-item= val								